.inputModal-label {
  margin: 10px;
  height: 40px;
  width: 200px;
  position: relative;
}

.inputModal-span {
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 70px;
  top: 10px;
  color: #b3ffa6;
}

.inputModal-text {
  background: inherit;
  border: none;
  box-shadow: -2px -2px 3px 0.5px #373a42, 2px 2px 3px #232630;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: whitesmoke;
}
.inputModal-text:not(:placeholder-shown) + .inputModal-span {
  transform: translateX(-70px) translateY(-8px) scale(0.7);
}

.input-checkbox-container {
  margin: 0 10px;
}
.modal-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  margin: 12px 0;
}
.modal-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sliderModal {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 12px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 34px;
  background: #333;
  box-shadow: -2px -2px 3px 0.5px #373a42, 2px 2px 3px #232630;
}
.sliderModal::before {
  height: 26px;
  transition: 0.4s;
  width: 26px;
  box-shadow: -2px -2px 3px 0.5px #373a42, 2px 2px 3px #232630;
  top: 4px;
  left: 4px;
  background: #2e2e2e;
  border-radius: 50%;
  position: absolute;
  content: "";
}

.inputModal:checked + .sliderModal {
  /* background-color: #b3ffa6c0; */
}
.inputModal:checked + .sliderModal::before {
  transform: translateX(26px);
}
